<div class="content">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">FileHostingService</a>
                <a href="#" class="navbar-brand">Crear cuenta</a>
                <a href="#" class="navbar-brand">Iniciar sesión</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <p>Guardá tus archivos de manera segura en la nube</p>
                <img src="./assets/home-2.jpg">
            </div>
            <div class="col">
                <img src="./assets/home-1.jpg">
                <p>Podés visualizar, gestionar tu contenido y llevar control de su uso</p>
            </div>
        </div>
    </div>
</div>
